body {
	background: #232323;
	color: #fff;
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: center; 
	margin: 0 auto;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.mainContainer {
	margin: 0 auto;
	width: 95%;	
}

/* Button */
.btn {
	width: auto;
	max-width: 100px;
	height: 1.5em;
	padding-bottom: 1.75em;
	background-color: #1e1e1e;
	border-radius: 0.75rem;
	border: none;
	text-align: center;
	margin-top: 1rem;
}

.btn-large {
	width: auto;
	min-width: 125px;
	max-width: 250px;
	height: 3em;
	font-size: 1.25em;
	padding-bottom: 6px;
	line-height: 1.5em;
	background-color: #1e1e1e;
	border: none;
	text-align: center;
	margin-top: 1rem;
}

.options-btn {
	width: auto;
	min-width: 100px;
	max-width: 150px;
	height: 6rem;
	font-size: 1em;
	padding-bottom: 6px;
	line-height: 1.5em;
	background-color: #1e1e1e;
	border: none;
	text-align: center;
	margin-top: 1.5rem;
}


/* Buttons */
#buttonContainer {
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#buttonContainer .btn {
	margin-right: 2rem;
}

#backBtn {
	margin-top: 5rem;
}

#uploadFileBtn {
	margin-top: 5rem;
}

#newFolderBtn {
	margin-top: 2rem;	
}

#refreshBtn {
	margin-top: 5rem;
}

#logoutBtn {
	position: relative;
	margin-top: 3rem;
}

.settingsBtn {
	position: absolute;
	top: 1rem;
	right: 3rem;

	width: 3rem;
	height: 3rem;

	cursor: pointer;

	fill: #949494
}

.options-window {
	position: absolute;
	z-index: 100;
	right: 10rem;
	width: 30rem;
	height: 40rem;
	padding: 3rem 4rem 4rem 4rem;
	opacity: 0.9;
	background-color: #363636;
	border: 5px solid #1e1e1e;

	border-radius: 2rem;
	font-size: 2rem;
	margin: auto;
	visibility: hidden;
}

.options-window p {
	font-size: 2.5rem;
}

.options-window input[type=button] {
	margin: 0 auto;
	margin-top: 1rem;
}

.options-window #apiKeyResult {
	margin: 0 auto;
	margin-top: 2rem;
	font-size: 1.5rem;
	word-break: break-all;
}

/* Hidden */
.hidden {
	visibility: hidden;
}
/* Visible */
.visible {
	visibility: visible;
}

/* Display None */
.displayNone {
	display: none;
}

/* Display Block */
.displayBlock {
	display: block;
}

.iconContainer { 
	text-align: center;
	margin: 0 auto;
}

/* Selected File */
.ds-selected {
	border-radius: 2rem;
	background: rgba(0, 100, 255, 0.1) !important; 
	border: 1px solid rgba(0, 100, 255, 0.1)  !important; 
}

/* Dragged File */
.ds-dragged {
	opacity: 0.5;
}

/* File and Folder items */
.list-group-horizontal {
	width: 100%;
	height: 150px;
	background-color:#212121;
	border-color:#1e1e1e;
	border-width: 2px;
	display: inline-block;
	margin-top:15px;
	text-align: center;
	overflow-y:auto;
	overflow-wrap: break-word;
	user-select: none;
	visibility: visible;
}

.list-group-item {
	background: none;
	border: none;
	display: inline-block;
	margin-top:15px;
	text-align: center;
	overflow-y: none;
	overflow-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0);

	width: 175px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.list-group-item:last-child {
	border-radius: 2rem !important;
}

/* Folders */
.folder-item {
	width: 75px;
	height: 75px;
	margin: 0 auto;
}

.folderIcon {
	align-self: flex-end;
	margin-top: 1rem;
	display: block;
}

#folderName {
	width: 100%;
	margin: 0 auto;
	margin-top: 5rem;
	text-align:center;
	overflow-wrap: break-word;
	visibility: visible;

  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
 	-khtml-user-select: none; /* Konqueror HTML */
   	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;            
}

#folderName span {
	cursor: pointer;
}

#emptyFolder {
	text-align:center;
	margin-top:30px;
	font-size:1.2em;
}

/* Files */

/* File containers */
#fileAccess {
  	width: 100%;
  	height: 80vh;
	margin: auto;
	margin-top: 2vh;
}

#fileStatus {
	margin-top:10px;
	color:#19b73c;
	font-size:1em;
	text-align:center;
}

#files {
	height: auto;
	margin-bottom: 2rem;
	padding-top: 2rem;
	padding-bottom: 5rem;
	border-radius: 2rem;
}

#fileView {
	border:none;
	margin-top:10px;
	width: 100%;
	height: auto;
	overflow-y: hidden;
	background-color: #262626;
	height: 87vh;
	overflow-x: hidden;
	padding-bottom: -1vh;
	visibility: hidden;
}

.file-name {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow-wrap: break-word;
	width: 100%;
}

.file-item {
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
}

.file-item-img {
	width: 50px;
	height: 50px;
	margin-bottom: 1.25rem;
}

/* Sidenav */
#sidenav {
	height: 100%;
	width: 75%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	padding-bottom: 2rem;
}

/* Sidenav buttons */
#sidenav input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-left: 30%;

	width: 20%;
}

#toggleSideNav {
	position: fixed;
	z-index: 10;
	left: 1rem;
	margin-bottom: -5rem;
}

#closeNavBtn {
	background: none; 
	padding-top: 0rem;
	padding-bottom:2rem;
	font-size: 4rem;
	text-align: left;
}

/* Screen size stuff */
@media only screen and (max-width: 600px) {
	.list-group-item {
		width: 100px !important;
	}
}

@media only screen and (max-width: 300px) {
	#sidenav {
		width: 100% !important;
		max-width: 400px !important;
	}

	#sidenav input {
		display: block;
		margin-left: 25% !important;
		margin-right: auto;

		width: 20%;
	}

	#backBtn {
		margin-top: 0rem;
	}
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}